@(items: List[Item], categories: Categories)

@layouts.main_template("Tavaranvaihto") {
<div>
    <h2>Omat ilmoitukset</h2>

    @if(items.size() == 1) {
    <p>Yhteensä 1 ilmoitus</p>
    } else {
    <p>Yhteensä @items.size() ilmoitusta</p>
    }

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tavara</th>
            <th>Kategoria</th>
            <th>Vastatarjoukset</th>
            <th>Ilmoitus jätetty</th>
        </tr>
        </thead>
        <tbody>
        @for(item <- items) {
        <tr>
            @if(item.getLockedAtTimestamp() == null) {
                <td><a href="@routes.ItemController.show(item.getId())">@item.getTitle()</a></td>
            } else {
                @if(item.getAcceptedOfferAt() == null) {
                    <td><a href="@routes.ItemController.show(item.getId())"><span class="glyphicon glyphicon-lock"></span> @item.getTitle()</a></td>
                } else {
                    <td><a href="@routes.ItemController.show(item.getId())"><span class="glyphicon glyphicon-ok"></span> @item.getTitle()</a></td>
                }
            }

            <td>@categories.getCategoryById(item.getCategoryId()).getTitle()</td>
            <td>@item.getCounterOffersCount()</td>
            <td>@item.getTimestamp()</td>
        </tr>
        }
        </tbody>
    </table>
</div>
}