@(items: List[Item], customer: Customer)

@layouts.main_template("Tavaranvaihto") {
<div>
    <h2>Käyttäjän <strong>@customer.getUsername()</strong> tavarat</h2>

    @if(items.size() == 1) {
    <p>Yhteensä 1 tavara</p>
    } else {
    <p>Yhteensä @items.size() tavaraa</p>
    }

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Tavara</th>
            <th>Kategoria</th>
            <th>Vastatarjoukset</th>
            <th>Ilmoitus jätetty</th>
        </tr>
        </thead>
        <tbody>
        @for(item <- items) {
        <tr>
            <td><a href="@routes.ItemController.show(item.getCustomerId())">@item.getTitle()</a></td>
            <td><a href="@routes.CategoryController.show(item.getCategoryId())">@Category.getCategoryById(item.getCategoryId()).getTitle()</a></td>
            <td>0</td>
            <td>@item.getTimestamp()</td>
        </tr>
        }
        </tbody>
    </table>
</div>
}