@(categories: Seq[(String, String)], newItemForm: Form[Item])

@layouts.template("Tavaranvaihto") {

    @if(newItemForm.hasGlobalErrors) {
        <div class="alert alert-danger">
            @newItemForm.globalError.message
        </div>
    }

    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Luo ilmoitus</h3>
        </div>
        <div class="panel-body">
            @helper.form(action = routes.ItemController.create(), 'role -> "form") {
                @items.form(newItemForm, categories)

                <button class="btn btn-sm btn-success">Luo ilmoitus</button>
            }
        </div>
    </div>
}
