@(items: List[Item])

@layouts.template("Tavaranvaihto") {
    <div>
        <p><strong>Kategoria</strong></p>

        <p>
            @for(category <- Category.getCategories()) {
                @if(Category.getItemsCount(category.getId()) > 0) {
                <a href="@routes.CategoryController.show(category.getId())" class="btn btn-success">@category.getTitle() <span
                        class="badge">@Category.getItemsCount(category.getId())</span></a>
                }
            }
        </p>
    </div>
    <div>
        <h2>Tavarat</h2>

        @if(items.size() == 1) {
        <p>Yhteensä 1 tavara</p>
        } else {
        <p>Yhteensä @items.size() tavaraa</p>
        }

        @items_table(items)
    </div>
}