@(id: Long, categories: Seq[(String, String)], newItemForm: Form[Item])

@layouts.template("Tavaranvaihto") {
    <div class="login-panel panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Muokkaa ilmoitusta</h3>
        </div>
        <div class="panel-body">
            @helper.form(action = routes.ItemController.update(id), 'role -> "form") {
                @items.form(newItemForm, categories)

                <button class="btn btn-sm btn-success">Tallenna muutokset</button>
            }
        </div>
    </div>

    <p><a href="@routes.ItemController.show(id)">Takaisin</a></p>
}
