@(message: String)

@main_template("Tavaranvaihto") {
    <div>
        <h2>Viimeisimmät vaihtoon ilmoitetut tavarat</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Tavara</th>
                <th>Kategoria</th>
                <th>Vastatarjoukset</th>
                <th>Lisääjä</th>
                <th>Ilmoitettu vaihtoon</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="item.html">Sukset</a></td>
                <td>Urheilu</td>
                <td>42</td>
                <td>Erkki Esimerkki</td>
                <td>20.3.2015 klo 15:36:22</td>
            </tr>
            <tr>
                <td><a href="item.html">Lumilauta</a></td>
                <td>Urheilu</td>
                <td>10</td>
                <td>Erkki Esimerkki</td>
                <td>19.3.2015 klo 15:36:22</td>
            </tr>

            <tr>
                <td><a href="item.html">Tennismaila</a></td>
                <td>Urheilu</td>
                <td>4</td>
                <td>Erkki Esimerkki</td>
                <td>19.3.2015 klo 15:36:22</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div>
        <h2>Suosituimmat</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Tavara</th>
                <th>Kategoria</th>
                <th>Vastatarjoukset</th>
                <th>Lisääjä</th>
                <th>Ilmoitettu vaihtoon</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="item.html">Sukset</a></td>
                <td>Urheilu</td>
                <td>42</td>
                <td>Erkki Esimerkki</td>
                <td>20.3.2015 klo 15:36:22</td>
            </tr>
            <tr>
                <td><a href="item.html">Lumilauta</a></td>
                <td>Urheilu</td>
                <td>10</td>
                <td>Erkki Esimerkki</td>
                <td>19.3.2015 klo 15:36:22</td>
            </tr>

            <tr>
                <td><a href="item.html">Tennismaila</a></td>
                <td>Urheilu</td>
                <td>4</td>
                <td>Erkki Esimerkki</td>
                <td>19.3.2015 klo 15:36:22</td>
            </tr>
            </tbody>
        </table>
    </div>
}
