@(latest_items: List[Item], categories: Categories)

@main_template("Tavaranvaihto") {
    <div>
        <h2>Viimeisimmät vaihtoon ilmoitetut tavarat</h2>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Tavara</th>
                <th>Kategoria</th>
                <th>Vastatarjoukset</th>
                <th>Lisääjä</th>
                <th>Ilmoitettu vaihtoon</th>
            </tr>
            </thead>
            <tbody>
            @for(item <- latest_items) {
            <tr>
                <td><a href="@routes.ItemController.show(item.getId())">@item.getTitle()</a></td>
                <td>@categories.getCategoryById(item.getCategoryId()).getTitle()</td>
                <td>0</td>
                <td><a href="@routes.CustomerController.show(item.getCustomerId())">x</a></td>
                <td>@item.getTimestamp()</td>
            </tr>
            }
            </tbody>
        </table>
    </div>
    <div>
        <h2>Suosituimmat</h2>

        <p>TBA</p>
    </div>
}
