@(items: List[Item])

<table class="table table-striped">
    <thead>
        <tr>
            <th>Tavara</th>
            <th>Kategoria</th>
            <th>Vastatarjoukset</th>
            <th>Lisääjä</th>
            <th>Ilmoitus jätetty</th>
        </tr>
    </thead>
    <tbody>
    @for(item <- items) {
        <tr>
            <td><a href="@routes.ItemController.show(item.getId())">@item.getTitle()</a></td>
            <td><a href="@routes.CategoryController.show(item.getCategoryId())">@Category.getCategoryById(item.getCategoryId()).getTitle()</a></td>
            <td>@item.getCounterOffersCount()</td>
            <td><a href="@routes.CustomerController.show(item.getCustomerId())">@item.getOwner().getUsername()</a></td>
            <td>@item.getTimestampFormatted()</td>
        </tr>
    }
    </tbody>
</table>