@(message: String)

@main_template("Tavaranvaihto") {
    <div>
        <p><strong>Kategoria</strong></p>

        <p>
            <button type="button" class="btn btn-success">Urheilu <span class="badge">3</span></button>
            <button type="button" class="btn btn-default">Elektroniikka <span class="badge">1</span></button>
            <button type="button" class="btn btn-default">Elokuvat <span class="badge">13</span></button>
            <button type="button" class="btn btn-default">Pelit <span class="badge">7</span></button>
            <button type="button" class="btn btn-default">Taide <span class="badge">3</span></button>
        </p>
    </div>
    <div>
        <h2>Tavarat</h2>

        <p>Yhteensä 3 tavaraa</p>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Tavara</th>
                <th>Vastatarjoukset</th>
                <th>Lisääjä</th>
                <th>Ilmoitettu vaihtoon</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><a href="item.html">Sukset</a></td>
                <td>42</td>
                <td>Erkki Esimerkki</td>
                <td>20.3.2015 klo 15:36:22</td>
            </tr>
            <tr>
                <td><a href="item.html">Lumilauta</a></td>
                <td>10</td>
                <td>Erkki Esimerkki</td>
                <td>19.3.2015 klo 15:36:22</td>
            </tr>

            <tr>
                <td><a href="item.html">Tennismaila</a></td>
                <td>4</td>
                <td>Erkki Esimerkki</td>
                <td>19.3.2015 klo 15:36:22</td>
            </tr>
            </tbody>
        </table>
    </div>
}