@(items: List[Item])

@main_template("Tavaranvaihto") {
<div>
    <h2>Omat vastatarjoukset</h2>


@if(items.size() == 1) {
<p>Yhteensä 1 vastarjous</p>
} else {
<p>Yhteensä @items.size() vastatarjousta</p>
}

<table class="table table-striped">
    <thead>
    <tr>
        <th>Tavara</th>
        <th>Ilmoittaja</th>
        <th>Ilmoitus jätetty</th>
        <th>Vastatarjouksesi</th>
        <th>Tila</th>
    </tr>
    </thead>
    <tbody>
    @for(item <- items) {
    <tr>
        <td><a href="@routes.ItemController.show(item.getId())">@item.getTitle()</a></td>
        <td><a href="@routes.CustomerController.show(item.getCustomerId())">@item.getOwner().getUsername()</a></td>
        <td>@item.getTimestamp()</td>
        <td>@item.getCounterOfferByCustomerId(Long.parseLong(session().get("customer_id"))).getDescription()</td>
        <td>Odottaa hyväksymistä</td>
    </tr>
    }
    </tbody>
</table>
</div>

}