@(id: Long, item: Item, customer: Customer, category: Category, currentCustomerCounterOffer: CounterOffer, counterOffers: List[CounterOffer])

@main_template("Tavaranvaihto") {
    @if(item.getCustomerId() == Integer.parseInt(session().get("customer_id")) && item.getLockedAtTimestamp() != null) {
        <div class="alert alert-info" role="alert">
            <span class="glyphicon glyphicon-lock"></span> Käyttäjä <strong><a href="@routes.CustomerController.show(item.getLockedCustomerId())">@item.getLockedCustomer().getUsername()</a> (<a href="mailto:@item.getLockedCustomer().getEmail()">@item.getLockedCustomer().getEmail()</a>)</strong> on lukinnut tämän tarjouksen <strong>@item.getLockedAtTimestamp()</strong>. Lukitus tullaan poistamaan <strong>@item.getLockExpiresAtTimestamp()</strong>.
            <div class="row">
                <div class="col-md4 col-sm-4">
                    @helper.form(action = routes.ItemController.acceptOffer(item.getId())) {
                    <button class="btn btn-success" onclick="return confirm('Hyväksytäänkö tarjous?')">Hyväksy tarjous</button>
                    }
                </div>
                <div class="col-md-4 col-sm-4">
            @helper.form(action = routes.ItemController.unlock(item.getId())) {
                <button class="btn btn-danger" onclick="return confirm('Poistetaanko lukitus?')">Poista lukitus</button>
            }
                    </div>
                </div>
        </div>
    }

    <h2>@item.getTitle()</h2>

    <p><strong>Kategoria:</strong> @category.getTitle()</p>

    <p>@item.getDescription()</p>

    <p><strong>Vastatarjoukset:</strong> @item.getCounterOffersCount()</p>

    @if(item.getCustomerId() == Integer.parseInt(session().get("customer_id"))) {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Vastatarjous</th>
                <th>Tarjouksen tekijä</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @for(counterOffer <- counterOffers) {
                <tr>
                    <td>@counterOffer.getDescription()</td>
                    <td><a href="@routes.CustomerController.show(counterOffer.getCustomerId())">@counterOffer.getCustomer().getUsername()</a></td>
                    <td>
                        @helper.form(action = routes.CounterOfferController.accept(counterOffer.getItemId())) {
                            <input type="hidden" name="customer_id" value="@counterOffer.getCustomerId()" />
                            <button class="btn btn-success" onclick="return confirm('Poistetaanko lukitus?')">Poista lukitus</button>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }

    <p><strong>Ilmoittaja:</strong> <a href="@routes.CustomerController.show(item.getCustomerId())">@customer.getUsername()</a></p>

    <p><strong>Ilmoitus jätetty:</strong> @item.getTimestamp()</p>

    @if(item.getCustomerId() == Integer.parseInt(session().get("customer_id"))) {
        <p><a href="@routes.ItemController.edit(item.getId())" class="btn btn-primary">Muokkaa ilmoitusta</a></p>
        @helper.form(action = routes.ItemController.delete(item.getId())) {
            <button class="btn btn-danger" onclick="return confirm('Haluatko varmasti poistaa ilmoituksen?')">Poista ilmoitus</button>
        }
    } else {
        @if(currentCustomerCounterOffer == null) {
            @if(item.getLockedAtTimestamp() == null) {
                @helper.form(action = routes.ItemController.lock(item.getId())) {
                    <button class="btn btn-primary onclick="return confirm('Lukitaanko tarjous?')"><span class="glyphicon glyphicon-lock"></span> Lukitse tarjous</button>
                }
                <br />tai

                @helper.form(action = routes.CounterOfferController.add(id), 'role -> "form") {
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Tarjoan vaihdossa..." name="counteroffer_description">
                          <span class="input-group-btn">
                            <input class="btn btn-primary" type="submit" value="Tee vastatarjous" />
                          </span>
                    </div>
                }
            } else {
                @if(item.getLockedCustomerId() == Long.parseLong(session().get("customer_id"))) {
                    <div class="alert alert-info" role="alert">
                    <p><span class="glyphicon glyphicon-lock"></span> Olet lukinnut tarjouksen <strong>@item.getLockedAtTimestamp()</strong>. Lukitus tullaan poistamaan <strong>@item.getLockExpiresAtTimestamp()</strong>.</p>
                    <p>Kohteen ilmoittajan yhteystiedot: <a href="mailto:@customer.getEmail()">@customer.getEmail()</a></p>
                    @helper.form(action = routes.ItemController.unlock(item.getId())) {
                        <button class="btn btn-danger" onclick="return confirm('Poistetaanko lukitus?')">Poista lukitus</button>
                    }
                        </div>
                } else {
                    <p>Kohde on tilapäisesti lukittu.</p>
                }
            }
        } else {
                <p>Olet tehnyt vastarjouksen "@currentCustomerCounterOffer.getDescription()" tästä kohteesta.</p>
                @helper.form(action = routes.CounterOfferController.delete(item.getId())) {
                    <button class="btn btn-danger" onclick="return confirm('Haluatko varmasti perua vastatarjouksesi?')">Peru vastatarjous</button>
                }
        }

        <br />
    }

    <p><a href="@routes.ItemController.all()">Takaisin tavaralistaukseen</a></p>
}
